.bg-primary {
  background-color: #076104 !important;
}

.text-primary {
  color: #076104 !important;
}

.btn-primary {
  background-color: #076104 !important;
  border-color: #076104 !important;
}

.btn-primary:hover {
  background-color: rgb(3.4653465347, 48.0198019802, 1.9801980198) !important;
  border-color: rgb(3.4653465347, 48.0198019802, 1.9801980198) !important;
}

.bg-secondary {
  background-color: #80C135 !important;
}

.text-secondary {
  color: #80C135 !important;
}

.btn-secondary {
  background-color: #80C135 !important;
  border-color: #80C135 !important;
}

.btn-secondary:hover {
  background-color: rgb(101.4634146341, 152.987804878, 42.012195122) !important;
  border-color: rgb(101.4634146341, 152.987804878, 42.012195122) !important;
}

.bg-info {
  background-color: rgb(177.2926829268, 220.0975609756, 127.9024390244) !important;
}

.bg-danger {
  background-color: #F20505 !important;
}

.btn-success {
  background-color: #80C135 !important;
  border-color: #80C135 !important;
}

h1, .h1 {
  font-size: 4rem !important;
}

h2, .h2 {
  font-size: 2.5rem !important;
}

h3, .h3 {
  font-size: 2rem !important;
}

h4, .h4 {
  font-size: 1.6rem !important;
}

h5, .h5 {
  font-size: 1.3rem !important;
}

h6, .h6 {
  font-size: 1.1rem !important;
}

.rounded {
  border-radius: 0.5rem !important;
}

.rounded-sm {
  border-radius: 0.3rem !important;
}

.rounded-lg {
  border-radius: 0.8rem !important;
}

.card {
  border-radius: 0.8rem !important;
}

.btn {
  border-radius: 0.5rem !important;
}

body {
  margin-left: 25px !important;
  padding-left: 25px !important;
}

main {
  margin-left: 25px !important;
  padding-left: 25px !important;
}

@media screen and (max-width: 850px) {
  body, main {
    margin-left: 20px !important;
    padding-left: 20px !important;
  }
}
@media screen and (max-width: 576px) {
  body, main {
    margin-left: 15px !important;
    padding-left: 15px !important;
  }
}
[data-bs-theme=dark] {
  --bs-body-bg: #0D0D0D;
  --bs-body-color: #F2F2F2;
}
[data-bs-theme=dark] .bg-primary {
  background-color: #80C135 !important;
}
[data-bs-theme=dark] .bg-secondary {
  background-color: rgb(101.4634146341, 152.987804878, 42.012195122) !important;
}