:root {
  --bs-primary: #076104;
  --bs-primary-rgb: 7, 97, 4;
  --bs-secondary: #80C135;
  --bs-secondary-rgb: 128, 193, 53;
  --bs-success: #80C135;
  --bs-success-rgb: 128, 193, 53;
  --bs-info: #b3fea0;
  --bs-info-rgb: 179, 254, 160;
  --bs-danger: #F20505;
  --bs-danger-rgb: 242, 5, 5;
  --bs-light: #F2F2F2;
  --bs-light-rgb: 242, 242, 242;
  --bs-dark: #0D0D0D;
  --bs-dark-rgb: 13, 13, 13;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #076104;
  --bs-btn-border-color: #076104;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(3.4653465347, 48.0198019802, 1.9801980198);
  --bs-btn-hover-border-color: rgb(3.4653465347, 48.0198019802, 1.9801980198);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(3.4653465347, 48.0198019802, 1.9801980198);
  --bs-btn-active-border-color: rgb(3.4653465347, 48.0198019802, 1.9801980198);
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #80C135;
  --bs-btn-border-color: #80C135;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(101.4634146341, 152.987804878, 42.012195122);
  --bs-btn-hover-border-color: rgb(101.4634146341, 152.987804878, 42.012195122);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(101.4634146341, 152.987804878, 42.012195122);
  --bs-btn-active-border-color: rgb(101.4634146341, 152.987804878, 42.012195122);
}

.bg-primary {
  background-color: #076104 !important;
}

.bg-secondary {
  background-color: #80C135 !important;
}

.bg-success {
  background-color: #80C135 !important;
}

.bg-info {
  background-color: #b3fea0 !important;
}

.bg-danger {
  background-color: #F20505 !important;
}

.text-primary {
  color: #076104 !important;
}

.text-secondary {
  color: #80C135 !important;
}

.border-primary {
  border-color: #076104 !important;
}

.border-secondary {
  border-color: #80C135 !important;
}

h1, .h1 {
  font-size: 4rem !important;
}

h2, .h2 {
  font-size: 2.5rem !important;
}

h3, .h3 {
  font-size: 2rem !important;
}

h4, .h4 {
  font-size: 1.6rem !important;
}

h5, .h5 {
  font-size: 1.3rem !important;
}

h6, .h6 {
  font-size: 1.1rem !important;
}

.rounded, .btn, .card {
  border-radius: 0.5rem !important;
}

.rounded-sm {
  border-radius: 0.3rem !important;
}

.rounded-lg {
  border-radius: 0.8rem !important;
}

body, main {
  margin-left: 25px !important;
  padding-left: 25px !important;
}

@media screen and (max-width: 850px) {
  body, main {
    margin-left: 20px !important;
    padding-left: 20px !important;
  }
}
@media screen and (max-width: 576px) {
  body, main {
    margin-left: 15px !important;
    padding-left: 15px !important;
  }
}