<footer id="contact-footer">
    <address>
        <p id="banner">Acesta este un proiect școlar!</p>
        <h1>Date contact:</h1>
        <p>Telefon: <a href="tel:+40725215235">+40 725 215 235</a></p>
        <p>Email: <a href="mailto:contact@elitekits.ro">contact@elitekits.ro</a></p>
        <p>Chat: <a href="https://wa.me/40725215235">WhatsApp</a></p>
        <p>Adresă: <a href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica+Bucuresti" target="_blank">Str. Academiei 14, București</a></p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8864436106567!2d26.1019369!3d44.4348401!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f8320a1%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1647791272801!5m2!1sro!2sro" referrerpolicy="no-referrer-when-downgrade" allowfullscreen="" loading="lazy"></iframe>
    </address>
    <p><small>&copy; <time datetime="2025-03-16">16 martie 2025</time> Elite Kits. Toate drepturile rezervate.</small></p>
    <a href="#" id="link-top"><div id="sageata"></div></a>
</footer>