<header>
    <h1>Elite Kits</h1>
    <nav>
        <ul>
            <li><a href="/#acasa">Acasă</a></li>
            <li><a href="/produse">Catalog</a>
                <ul>
                    <li><a href="/produse">Toate tricourile</a></li>
                    <% if (locals.categoriiMeniu && locals.categoriiMeniu.length > 0) { %>
                        <% for (let categorie of locals.categoriiMeniu) { %>
                            <li>
                                <a href="/produse?tip_echipa=<%= categorie %>">
                                    <% if (categorie === 'club') { %>
                                        Tricouri club
                                    <% } else if (categorie === 'nationala') { %>
                                        Tricouri naționale
                                    <% } else if (categorie === 'fotbalist') { %>
                                        Tricouri fotbaliști
                                    <% } else { %>
                                        <%= categorie.charAt(0).toUpperCase() + categorie.slice(1) %>
                                    <% } %>
                                </a>
                            </li>
                        <% } %>
                    <% } else { %>
                        <li><a href="/produse?tip_echipa=club">Tricouri club</a></li>
                        <li><a href="/produse?tip_echipa=nationala">Tricouri naționale</a></li>
                        <li><a href="/produse?tip_echipa=fotbalist">Tricouri fotbaliști</a></li>
                    <% } %>
                    <li><a href="/seturi">Seturi de produse</a></li>
                </ul>
            </li>
            <li><a href="/produse">Promoții</a>
                <ul>
                    <li><a href="/produse">Reduceri</a></li>
                    <li><a href="/produse">Oferte</a></li>
                </ul>
            </li>
            <li><a href="#contul-de-utilizator">Contul de utilizator</a>
                <ul>
                    <li><a href="#login">Login</a></li>
                    <li><a href="#autentificare">Autentificare</a></li>
                </ul>
            </li>
            <li><a href="/despre">Resurse</a>
            <ul>
                    <li><a href="/despre">Despre Noi</a></li>
                    <li><a href="/ghid_marimi">Ghid de Mărimi</a></li>
                    <li><a href="/ghid_ingrijire">Ghid de Îngrijire</a></li>
            </ul>
            </li>
            <li><a href="#contact-footer">Contact</a></li>
        </ul>
    </nav>
</header>