<header>
    <h1><i class="fa-solid fa-shirt"></i> ELITE KITS</h1>
    <nav>
        <ul>
            <li><a href="/#acasa">Acasă</a></li>
            <li><a href="#catalog">Catalog</a>
                <ul>
                    <li><a href="#tricouri_club">Tricouri club</a></li>
                    <li><a href="#tricouri_nationala">Tricouri națională</a></li>
                    <li><a href="#tricouri_retro">Tricouri retro</a></li>
                    <li><a href="#tricouri_fotbalisti">Fotbaliști</a></li>
                </ul>
            </li>
            <li><a href="#promotii">Promoții</a>
                <ul>
                    <li><a href="#reduceri">Reduceri</a></li>
                    <li><a href="#oferte">Oferte</a></li>
                </ul>
            </li>
            <li><a href="#contul-de-utilizator">Contul de utilizator</a>
                <ul>
                    <li><a href="#login">Login</a></li>
                    <li><a href="#autentificare">Autentificare</a></li>
                </ul>
            </li>
            <li><a href="/despre">Resurse</a></li>
            <li><a href="#contact-footer">Contact</a></li>
            <li><a href="#cos-de-cumparaturi">Coș de cumpărături</a></li>
        </ul>
    </nav>
</header>