<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="tricouri fotbal, tricouri echipe nationale, tricouri cluburi fotbal, tricouri personalizate, echipament fotbal, fotbal, bluze fotbal">
    <meta name="description" content="Magazin online specializat în vânzarea de tricouri de fotbal de la cluburi și echipe naționale. Oferim personalizare.">
    <meta name="author" content="Dumitriu Filip">
    <link rel="icon" type="image/png" href="/resurse/imagini/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/resurse/imagini/favicon.svg" />
    <link rel="shortcut icon" href="/resurse/imagini/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/resurse/imagini/apple-touch-icon.png" />
    <link rel="manifest" href="/resurse/site.webmanifest" />
    <meta name="apple-mobile-web-app-title" content="Tricouri De Fobal">
    <link rel="manifest" href="/resurse/site.webmanifest">   
    <link rel="stylesheet" type="text/css" href="/resurse/css/general.css">
    <link rel="stylesheet" type="text/css" href="/resurse/css/layout.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/resurse/css/reset.css">
    <link rel="stylesheet" href="/resurse/scss/nav.css">
    <link rel="stylesheet" href="/resurse/css/efecte.css">
    <link rel="stylesheet" href="/resurse/css/print.css" media="print">
    <title>Elite Kits - Magazin de tricouri de fotbal</title>
    <script src="/resurse/js/mobile-menu.js"></script>
</head>